version: '1.0.{build}'
configuration:
- Debug
- Release
platform: Any CPU
environment:
  # Don't report back to the mothership
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
init:
- ps: $Env:LABEL = "CI" + $Env:APPVEYOR_BUILD_NUMBER.PadLeft(5, "0")
before_build:
- appveyor-retry dotnet restore -v Minimal
build_script:
- dotnet build "Smooth.IoC.Dapper.Repository.UnitOfWork" -c %CONFIGURATION% --no-dependencies --version-suffix %LABEL%
after_build:
- dotnet pack "Smooth.IoC.Dapper.Repository.UnitOfWork" -c %CONFIGURATION% --no-build --version-suffix %LABEL% -o artifacts
#- dotnet publish "src\ConsoleApplication" -c %CONFIGURATION% --no-build --version-suffix %LABEL% -o artifacts\ConsoleApplication
test_script:
#- dotnet test "test\MyFirstUnitTests" -c %CONFIGURATION%
artifacts:
- path: artifacts\**\*.*
cache:
#- '%USERPROFILE%\.nuget\packages'
